<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:site_name" content="Phoenix LiveView Demos" />
    <meta property="og:title" content="Phoenix LiveView Demos" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://liveviewdemos.com" />
    <.live_title suffix=" · Phoenix LiveView Demos">
      <%= assigns[:page_title] %>
    </.live_title>
    <link rel="icon" href={~p"/favicon.ico"} sizes="any" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
      <script>
        console.log('hey')
    </script>
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}
        if (d.getElementById(id)) return t
        js = d.createElement(s)
        js.id = id
        js.src = "https://platform.twitter.com/widgets.js"
        fjs.parentNode.insertBefore(js, fjs)

        t._e = []
        t.ready = function(f) {
          t._e.push(f)
        }

        return t
      }(document, "script", "twitter-wjs"))
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
